# {{ ansible_managed }}

{% if openvpn_local is defined %}
local {{ openvpn_local }}
{% endif %}
port {{ openvpn_port }}
proto {{ openvpn_proto }}
dev tun

ca {{ openvpn_key_dir }}/ca.crt
cert {{ openvpn_key_dir }}/server.crt
key {{ openvpn_key_dir }}/server.key
dh {{ openvpn_key_dir }}/dh.pem
{% if openvpn_crl_path is defined %}
crl-verify {{ openvpn_crl_path }}
{% endif %}
{% if openvpn_use_crl|bool %}
crl-verify {{ openvpn_key_dir }}/ca-crl.pem
{% endif %}
tls-crypt {{ openvpn_key_dir }}/ta.key
auth {{ openvpn_auth_alg | default('SHA256') }}
cipher {{ openvpn_cipher }}
{% if openvpn_use_hardened_tls|bool %}
tls-version-min 1.2
{% endif %}
{# Using Mozilla's modern cipher list + DHE for older clients #}
{% if openvpn_use_modern_tls|bool %}
tls-cipher TLS-ECDHE-ECDSA-WITH-AES-256-GCM-SHA384:TLS-ECDHE-RSA-WITH-AES-256-GCM-SHA384:TLS-DHE-RSA-WITH-AES-256-GCM-SHA384:TLS-ECDHE-ECDSA-WITH-AES-256-CBC-SHA384:TLS-ECDHE-RSA-WITH-AES-256-CBC-SHA384:TLS-DHE-RSA-WITH-AES-256-CBC-SHA256
{% endif %}
{% if openvpn_duplicate_cn|bool %}
duplicate-cn
{% endif %}
{% if openvpn_client_to_client|bool %}
client-to-client
{% endif %}

server {{ openvpn_server_network }} {{ openvpn_server_netmask }}
{% if openvpn_topology is defined %}
topology {{ openvpn_topology }}
{% endif %}
{% if openvpn_client_config %}
client-config-dir {{ openvpn_client_config_dir }}
{% endif %}

{% if openvpn_redirect_gateway|bool %}
push "redirect-gateway def1 bypass-dhcp"
{% endif %}
{% if openvpn_set_dns %}
{% if openvpn_custom_dns %}
{% for srv in openvpn_dns_servers %}
push "dhcp-option DNS {{ srv }}"
{% endfor %}
{% else %}
push "dhcp-option DNS 1.0.0.1"
push "dhcp-option DNS 1.1.1.1"
push "dhcp-option DNS 8.8.8.8"
push "dhcp-option DNS 8.8.4.4"
{% endif %}
{% endif %}
{% if openvpn_push is defined %}
{% for opt in openvpn_push %}
push "{{ opt }}"
{% endfor %}
{% endif %}
keepalive {{ openvpn_keepalive_ping }} {{ openvpn_keepalive_timeout }}
{% if openvpn_compression is not undefined and openvpn_compression != "" %}
compress {{ openvpn_compression }}
{% endif %}
persist-key
persist-tun
user {{ openvpn_service_user }}
group {{ openvpn_service_group }}

verb 3

script-security {{ openvpn_script_security }}
